

h1{
    text-align: center;
}


    p {
        font-family: "Arial"
    }


    p{
        font-size: 20px;
    }

    #primeiro{
    text-indent: 22px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;}

     #segundo {
    text-indent: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;}

     #terceiro {
    text-indent: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
     font-size: 20px;}

@media (max-width: 11600px) {
    .navbar {
        flex-direction: row;
        align-items: center;
    }

    .navbar a {
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 6px -6px #222;
    z-index: 1000; /* Ensure the navbar is always on top */
}

.navbar a {
    display: block;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px; /* Adjust the font size as needed */
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.navbar a:hover:not(.active) {
    background-color: rgb(0, 153, 255);
    color: white;}
  
  /* Page content. Adjusting margin-top to compensate for the fixed topbar */
  div.content {
    margin-top: 60px;
    padding: 1px 16px;
    height: 1000px;
  }

  .content a:visited {
    color:RGB(0, 0, 238);
    text-decoration: none;
}

.content a{
  color: RGB(0, 0, 238);
  text-decoration: none;
}
